<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>La carte</title>

        {% stylesheets '@BurgerBundle/Resources/public/css/bootstrap-theme.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '@BurgerBundle/Resources/public/css/bootstrap.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '@BurgerBundle/Resources/public/css/font-awesome.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% stylesheets '@BurgerBundle/Resources/public/css/carte.css' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}


        {% javascripts 
        '@BurgerBundle/Resources/public/js/jquery.js'
        '@BurgerBundle/Resources/public/js/bootstrap.js'  %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>

        <div id="menu" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header visible-xs">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><h2>Meat King</h2></a>
                </div><!-- navbar-header -->
                <div id="navbar" class="navbar-collapse collapse">
                    <div class="hidden-xs" id="logo"><a href="#header">
                            <img src="img/logo.png" alt="">
                        </a></div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{path("burger_homepage")}}">Histoire</a></li>
                        <li><a href="{{path("burger_homepage")}}">Faits</a></li>
                        <li><a href="{{path("burger_homepage")}}">Nos Chefs</a></li>

                        <li><a href="{{path("burger_carte")}}">Offres</a></li>
                        <li><a href="{{path("burger_panier")}}">Panier</a></li>
                        <li><a href="#special-offser">Mon compte</a></li>

                        <!--fix for scroll spy active menu element-->
                        <li style="display:none;"><a href="#header"></a></li>

                    </ul>
                </div><!--/.navbar-collapse -->
            </div><!-- container -->
        </div><!-- menu -->

        <div id="food-menu" class="light-wrapper">
            <section class="ss-style-top"></section>
            <div class="container inner">
                <h2 class="section-title text-center">Food Menu</h2>
                <p class="lead main text-center">There is no sincerer love than the love of food!</p>

                <div class="row">
                    <div class="col-xs-2">
                        <a href="{{ path('burger_carte', { "type": "burger" }) }}">
                            <div class="menu-images "><img src="{{ asset("bundles/burger/images/default/menu/hot-drinks.png")}}"  alt="Hot Drinks"/></div>
                            <div class="menu-titles"><h4 class="">Les Burgers</h4></div>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="{{ path('burger_carte', { "type": "Woop's" }) }}">
                            <div class="menu-images "><img src="{{ asset("bundles/burger/images/default/menu/ice-drinks.png")}}"  alt="Ice Drinks"/></div>
                            <div class="menu-titles"><h4 class="">Les Woop's</h4></div>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="{{ path('burger_carte', { "type": "Sandwich" }) }}">
                            <div class="menu-images "><img src="{{ asset("bundles/burger/images/default/menu/smoothies.png")}}"  alt="Smoothies"/></div>
                            <div class="menu-titles"><h4 class="">Les sandwichs</h4></div>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="{{ path('burger_carte', { "type": "Tex mex" }) }}">
                            <div class="menu-images "><img src="{{ asset("bundles/burger/images/default/menu/deserts.png")}}"  alt="Desserts"/></div>
                            <div class="menu-titles"><h4 class="">Les Text Mex</h4></div>
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a href="{{ path('burger_carte', { "type": "Dessert" }) }}">
                            <div class="menu-images "><img src="{{ asset("bundles/burger/images/default/menu/wine.png")}}"  alt="Smoothies"/></div>
                            <div class="menu-titles"><h4 class="">Les desserts</h4></div>
                        </a>

                    </div>
                    <div class="col-xs-2">
                        <a href="{{ path('burger_carte', { "type": "Boisson" }) }}">
                            <div class="menu-images "><img src="{{ asset("bundles/burger/images/default/menu/beer.png")}}"  alt="Ice Drinks"/></div>
                            <div class="menu-titles"><h4 class="">Les boissons</h4></div>
                        </a>

                    </div>
                </div>

                <!-- /.container -->
                {#            <section class="ss-style-bottom"></section>
                #}        
            </div><!--/#food-menu-->

            <div id="special-offser" class="parallax pricing">
                <div class="container inner">
                    <div class="row">
                        {% for produit in produits %}
                            <div class="col-md-6 col-sm-6">
                                <div class="pricing-item">
                                    <a href="#"> <img  class="img-responsive img-thumbnail" src="{{ asset(produit.image.path~produit.image.name~"."~produit.image.extension)}}"  alt=""/></a>
                                    <div class="pricing-item-details">
                                        <h3><a href="#">{{ produit.intitule }}</a></h3>
                                        <p>{{ produit.description }}</p>
                                        <a class="btn btn-danger" href="{{ path("burger_ajoutpanier", { "produitId" : produit.id } )}}">Ajouter au panier</a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!--price tag-->
                                    <span class="hot-tag br-red">{{ produit.prix }}€</span>
                                    <div class="clearfix"></div>
                                </div>           
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>